@import "tailwindcss";

:root {
  --background: #0a0a0a;
    --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  @keyframes breathe {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.013);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  color: var(--color-blue-600);
  text-decoration: underline;
}